<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: 150px;
        }
    </style>
    <title>change_password</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="">
                <div class="form-group">
                    <label for="id_user">用户名</label>
                    <input type="text" name="user" class="form-control" id="id_user" disabled="disabled" value="{{ request.user.username }}"><span class="error pull-right"></span>
                </div>
                <div class="form-group">
                    <label for="id_pwd">原密码</label>
                    <input type="password" name="pwd" class="form-control" id="id_pwd">
                </div>
                <div class="form-group">
                    <label for="id_new_pwd">密码</label>
                    <input type="password" name="new_pwd" class="form-control" id="id_new_pwd">
                </div>
                <div class="form-group">
                    <label for="id_repeat_new_pwd">确认密码</label>
                    <input type="password" name="repeat_new_pwd" class="form-control" id="id_repeat_new_pwd"><span class="error pull-right"></span>
                </div>
                <div class="form-group">
                    <label for="reg-btn"></label>
                    <input type="button" class="btn btn-default login_btn pull-right" id="reg-btn" value="提交"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% csrf_token %}
<script>
    //
    $("#reg-btn").click(function () {
        $.ajax({
            url: "change_password",
            type: "post",
            data: {
                "user": $("#id_user").val(),
                "pwd": $("#id_pwd").val(),
                "new_pwd": $("#id_new_pwd").val(),
                "repeat_new_pwd": $("#id_repeat_new_pwd").val(),
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {
                console.log(data);
                console.log(data.error_dict);
                if (data.user){
                    //修改成功
                    location.href = "/login/"
                }
                else {
                    //修改失败
                    //加载错误信息
                    $("#id_repeat_new_pwd").next().text(data.error_dict).css("color","red");
                    // 等待10秒将错误信息清空
                    setTimeout(function () {
                        $("#id_repeat_new_pwd").next().html("")
                            }, 1000)
                }
            }
        })
    });
</script>
</body>
</html>